### 足球队分类

In [4]:
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pandas as pd
import numpy as np

# 输入数据
data = pd.read_csv('./football_data.csv',encoding='gbk')
data

        国家  2019年国际排名  2018世界杯  2015亚洲杯
0       中国         73       40        7
1       日本         60       15        5
2       韩国         61       19        2
3       伊朗         34       18        6
4       沙特         67       26       10
5      伊拉克         91       40        4
6      卡塔尔        101       40       13
7      阿联酋         81       40        6
8   乌兹别克斯坦         88       40        8
9       泰国        122       40       17
10      越南        102       50       17
11      阿曼         87       50       12
12      巴林        116       50       11
13      朝鲜        110       50       14
14      印尼        164       50       17
15      澳洲         40       30        1
16     叙利亚         76       40       17
17      约旦        118       50        9
18     科威特        160       50       15
19    巴勒斯坦         96       50       16

In [11]:
# 制作一个训练集。一般不拿原数据训练
train_x = data[["2019年国际排名","2018世界杯","2015亚洲杯"]]
# 规范化到0-1空间
min_max_scaler = preprocessing.MinMaxScaler()
train_x = min_max_scaler.fit_transform(train_x)
train_x

array([[0.3       , 0.71428571, 0.375     ],
       [0.2       , 0.        , 0.25      ],
       [0.20769231, 0.11428571, 0.0625    ],
       [0.        , 0.08571429, 0.3125    ],
       [0.25384615, 0.31428571, 0.5625    ],
       [0.43846154, 0.71428571, 0.1875    ],
       [0.51538462, 0.71428571, 0.75      ],
       [0.36153846, 0.71428571, 0.3125    ],
       [0.41538462, 0.71428571, 0.4375    ],
       [0.67692308, 0.71428571, 1.        ],
       [0.52307692, 1.        , 1.        ],
       [0.40769231, 1.        , 0.6875    ],
       [0.63076923, 1.        , 0.625     ],
       [0.58461538, 1.        , 0.8125    ],
       [1.        , 1.        , 1.        ],
       [0.04615385, 0.42857143, 0.        ],
       [0.32307692, 0.71428571, 1.        ],
       [0.64615385, 1.        , 0.5       ],
       [0.96923077, 1.        , 0.875     ],
       [0.47692308, 1.        , 0.9375    ]])

In [13]:
# K-Means算法
kmeans = KMeans(n_clusters=3)
kmeans.fit(train_x)
predict_y = kmeans.predict(train_x)
predict_y

array([0, 1, 1, 1, 1, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2])

In [17]:
result = pd.concat((data,pd.DataFrame(predict_y)),axis=1)
result

        国家  2019年国际排名  2018世界杯  2015亚洲杯  0
0       中国         73       40        7  0
1       日本         60       15        5  1
2       韩国         61       19        2  1
3       伊朗         34       18        6  1
4       沙特         67       26       10  1
5      伊拉克         91       40        4  0
6      卡塔尔        101       40       13  2
7      阿联酋         81       40        6  0
8   乌兹别克斯坦         88       40        8  0
9       泰国        122       40       17  2
10      越南        102       50       17  2
11      阿曼         87       50       12  2
12      巴林        116       50       11  2
13      朝鲜        110       50       14  2
14      印尼        164       50       17  2
15      澳洲         40       30        1  1
16     叙利亚         76       40       17  2
17      约旦        118       50        9  2
18     科威特        160       50       15  2
19    巴勒斯坦         96       50       16  2

In [19]:
result.rename({0:u'聚类'},axis=1,inplace=True)
result

        国家  2019年国际排名  2018世界杯  2015亚洲杯  聚类
0       中国         73       40        7   0
1       日本         60       15        5   1
2       韩国         61       19        2   1
3       伊朗         34       18        6   1
4       沙特         67       26       10   1
5      伊拉克         91       40        4   0
6      卡塔尔        101       40       13   2
7      阿联酋         81       40        6   0
8   乌兹别克斯坦         88       40        8   0
9       泰国        122       40       17   2
10      越南        102       50       17   2
11      阿曼         87       50       12   2
12      巴林        116       50       11   2
13      朝鲜        110       50       14   2
14      印尼        164       50       17   2
15      澳洲         40       30        1   1
16     叙利亚         76       40       17   2
17      约旦        118       50        9   2
18     科威特        160       50       15   2
19    巴勒斯坦         96       50       16   2